/*
Theme: Over Easy Base
Version: 1.0
Author: Pamela (based on WooThemes)
*/

/*--- Setup ---*/
* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
        background: #2A281E;
        color: #555555;
        font: .75em "Trebuchet MS", Arial, Helvetica;
        padding: 0 0 20px;
        line-height:1.8em;
}

#page {
	margin: 0 auto;
        width: 940px;
}

#header {
	height: 150px;
	width: 940;
}
#full_width {
	background: #ffffff;
	padding: 15px 30px;
}

#top_fullwidth {
	background: #640B12;
	color: #FFFFFF;
	padding: 5px 30px;
	-moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
}



#box {
	background: #B18D59;
	color: #000000;
	width: 80%;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15x;
	margin-bottom: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
        -webkit-border-top-left-radius: 5px;
}

img {
	background: #464026;
	padding: 3px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

}