<!-- this is the idea -->
<?php
	if (isset($login) && ($login == True))
	{
    	echo"<p>here appears all my publicly downloaded data</p>";
	}
    else
    {
		echo"<p>here appears all my downloaded data</p>";
    }
?>
