<h2>Quick Query</h2>
<FORM action="index.php?action=add" method="POST">
<table  align="center" width="90%" cellpadding="0" cellspacing="0">
<tr>
<td width="15%">
Name:
</td>
<td width="85%">
<input name="name" type="text" size="50">
</td>
</tr>
<tr>
<td width="15%">
Location:
</td>
<td width="85%">
<input name="location" type="text" size="50">
</td>
</tr>
<tr>
<td width="15%">
Country:
</td>
<td width="85%">
<input name="country" type="text" size="50">
</td>
</tr>
<tr>
<td width="15%">
Occupation:
</td>
<td width="85%">
<input name="occupation" type="text" size="50">
</td>
</tr>
<tr>
<td width="15%">
Email:
</td>
<td width="85%">
<input name="email" type="text" size="50">
</td>
</tr>
<tr>
<td width="15%">
</td>
<td width="85%">
<input type="submit" value="DIG!">
</td>
</tr>
</table>
</FORM>
