<!-- this is the idea -->
<?php
	if (isset($login) && ($login == True))
	{
    	echo"<p>here appears all my publicly uploaded data</p>";
	}
    else
    {
		echo"<p>here appears all my uploaded data</p>";
    }
?>
