<div id="header">
	<%= render :partial => "shared/login" %>
	<h1>Buried Data</h1>	
	<%= link_to "What's this all about?", about_url %>
</div>

<%= render :partial => "shared/chromoscope" %>
<%= render :partial => "shared/recent_datasets", :locals => { :datasets => @datasets } %> 
