
			<div id="footer">

				<p id="footer-left">
					&copy; 2010 BuriedData.org |
					<a href="http://www.dotastronomy.com/" title="dotAstronomy" target="_blank_">A DotAstronomy product</a>
				</p>

				<p id="footer-right">
					<a href="index.html">Home</a> |
	                <a href="index.html">Sitemap</a> |
	                <a href="index.html">RSS Feed</a> |
	                <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
					<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
				</p>

			</div>	

	<!-- wrap ends here -->		
	</div>	


</body>


<!--

add any scripts you want e.g. google analytics, etc.

-->

</html>
